$border: 1px solid red;

.section3 {
    width: 100%;
    display: grid;
    -ms-grid-column: repeat(2, minmax(300px, 1fr));
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    -ms-grid-row: 400px;
    grid-auto-rows: 400px;
   

    @include mobile {
        -ms-grid-column: 1fr;
        grid-template-columns:  1fr;
        -ms-grid-row: 200px;
        grid-auto-rows: 200px;
        
    }

    @include tab {
        -ms-grid-column: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-row: 350px;
        grid-auto-rows: 350px;
    }

    @include tablet {
        -ms-grid-column: repeat(2, minmax(300px, 1fr));
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        -ms-grid-row: 250px;
        grid-auto-rows: 260px;
    }

    &_item {
        padding: 20px 30px;
        

        // @include tablet {
        //     padding: 5px 10px;   
        // }

        p {
           
            margin: 5px 0;
            font-size: 3rem;
            font-weight: 700;

            @include mobile {
                font-size: 2rem;
                font-weight: 700;
            }

            @include tab {
                font-size: 2rem;
                font-weight: 700;
            }

            @include tablet {
                font-size: 2rem;
                font-weight: 700;
            }
        }


        &_hover {
            p {
                font-size: 3rem;
                font-weight: 400;
                transition: ease-in 0.5s;

                @include mobile {
                    font-size: 1.5rem;
                    font-weight: 700;
                }

                @include tab {
                    font-size: 2rem;
                    font-weight: 700;
                }

                @include tablet {
                    font-size: 2rem;
                    font-weight: 700;
                }
            } 
        }
    }

    &_hovered {   
        opacity: 0.8;
    }
}