@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

$urbanist: 'Urbanist', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // -webkit-tap-highlight-color: transparent;
  
}


html {
    font-size: 13px;
}

body {
    font-family: $urbanist;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

// a:hover {
//     color: $main-color;
// }

img {
    max-width: 100%;
}

.container {
    width: 100%;
    // max-width: 1620px;
    padding: 0 10px;
    margin: auto;

    @include tablet {
        padding: 0 10px;
    }

    @include mobile {
        padding: 0 10px;
    }
}

.main {
    margin-top: $nav-height;
    margin-bottom: 2rem;
    min-height: 100vh;

    @include tablet {
        margin-top: calc(#{$nav-tablet-height} + 20px);
    }

    @include mobile {
        margin-top: calc(#{$nav-mobile-height} + 10px);
    }
}



.bottom {
    height: 50px;
}

.home {
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex-grow: 1;
}