

$border: 1px solid red;

.navigation {
    position: relative;
}

.nav {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
   
    color: #000;
    padding: 10px 5px ;
    text-align: center;
    align-items: center;
    font-size: 20px;
    height: 45px;
    transition: 1.5s ease-out;

    // border: $border;


    &_hamburger {
        display: none;
        @media screen and (max-width: 1024px) {
            display: block;
        }
    }

    &_links {
        display: flex;
    }

    &_hidden {
        display: none;
    }

   

    &_navlinks {
        display: inherit;
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
    

    &_navlink {
        text-decoration: none;
        padding: 5px;
        margin: 5px;
        color: #000;

    }

    &_cart {
        display: flex;
        width: 50px;
        justify-content: center;
        align-items: center;



        button {
            margin-left: -10px;
            margin-top: 10px;
            border-radius: 50%;
            color: #fff;
            background-color: red;
            border: none;
            padding: 2.5px 5px;
            text-align: center;
            display: inline-block;

        }
    }

    &_mdhidden {
        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    &_sidemenu {
        display: block;
        position: fixed;
        background-color: #fff;
        left: 0;
        width: 100%;
        z-index: 1;
        height: 100%;
        top: 45px;
        overflow: auto;
        transition: 1.5s ease-out;

    }
    
   
}